<div class="container">
  <h2>Users</h2>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="searchValue" placeholder="Search by email" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">Search</button>

  <div class="users-grid">
    <mat-card *ngFor="let user of filteredUsers" class="user-card">
      <img [src]="user.image" alt="profile" class="profile-pic" />

      <mat-chip mat-chip [ngClass]="user.role.toLowerCase()" selected>
        {{ user.role }}
      </mat-chip>

      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Birthdate:</strong> {{ user.birthDate }}</p>
    </mat-card>
  </div>
</div>
